@import "preStyle"; //重置和一些公用样式
@import "Home";
@import "Topic";

/*
  全局样式变量
*/
@g-color-standard: #41D109; //VI色
@g-color-contrast: #FA1F1A; //VI对比色
@g-color-main: #171717; //正文色
@g-color-nav: #9f9f9f; //主题导航及底部导航色