/*
  样式重置
*/
body, ul, li, ol, p, h1, h2, h3, textarea, input, select {
  padding: 0;
  margin: 0;
}

body {
  font-size: @G-font-size;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

/*
  common
*/
.fleft {
  float: left;
}

.fright {
  float: right;
}

.fleft, .fright {
  display: inline;
}

.clear:after {
  display: block;
  content: '';
  clear: both;
}

.clear {
  zoom: 1; /* for IE6 IE7 */
}

.flex {
  display: flex;
}