@T-line-height: 26px;

.T-common-padding-left-right(@padding-top:0px;@padding-bottom:0px) {
  @padding-left-right: 20px;
  padding: @padding-top @padding-left-right @padding-bottom @padding-left-right;
}

.topic-reply-btn {
  margin: 14px 18px 0 0;
  display: block;
  width: 86px;
  @height: 26px;
  height: @height;
  line-height: @height;
  text-align: center;
  border-radius: @G-btn-border-radius;
  background-color: @G-color-standard;
  color: #ffffff;
}

.topic-title {
  a {
    cursor: pointer;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
    .T-common-padding-left-right(20px; 24px;);
  }

  .topic-detail {
    .T-common-padding-left-right(15px; 15px;);
    color: @G-color-text-light;
    font-size: 12px;
    background-color: @G-color-text-bg;

    & span {
      margin-right: 12px;
    }
  }

  .active {
    color: @G-color-text-blue;
    margin-right: 0;
  }
}

.topic-content {
  @p-padding-bottom: 20px;
  @block-padding-bottom: 20px;
  color: @G-color-text;
  .T-common-padding-left-right(30px; 40px;);
  box-sizing: border-box;

  a {
    color: @G-color-text-link;
    //text-decoration: underline;
  }

  p {
    line-height: @T-line-height;
    margin-bottom: @p-padding-bottom;
  }

  ul, ol {
    margin-bottom: @block-padding-bottom;
  }

  li {
    line-height: @T-line-height;
    margin-left: 28px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  h1, h2, h3, h4, h5 {
    line-height: @T-line-height + 8px;
  }

  .prettyprint, blockquote {
    padding: 12px;
    font-size: 12px;
    line-height: @T-line-height - 8px;
    overflow: auto;
    background-color: @G-Topic--blockquote--bg-color;
    color: @G-Topic--blockquote--text-color;
    border-bottom: 3px solid @G-Topic--blockquote--line-color;
    margin-bottom: @block-padding-bottom;

    p {
      margin-bottom: 0;
    }
  }
}

.topic-reply-head {
  .T-common-padding-left-right(30px; 30px;);
  text-align: center;
  box-sizing: border-box;

  .topic-reply-outer {
    border: 1px solid @G-color-standard;
    border-radius: 50px;
    color: @G-color-standard;
    text-align: center;
    padding: 6px 80px;
    display: inline-block;
  }
}

.topic-reply-order {
  .T-common-padding-left-right(10px; 15px;);
  font-size: 12px;
  color: @G-color-text-light;
  border-bottom: 1px solid @G-color-divide-line;
  box-sizing: border-box;
  background-color: #ffffff;

  .active {
    color: @G-color-standard;
    border-bottom: 2px solid @G-color-standard;
    font-weight: bold;
  }

  .topic-reply-order-btn {
    margin-left: 5px;
    cursor: pointer;
  }

  .topic-reply-order-title {
    margin-right: -5px;
  }

  span {
    padding: 5px;
  }
}

.topic-reply-order-beyond {
  width: 100%;
  position: fixed;
  z-index: @G-z-index;
  top: @G-back-height;
  left: 0;
}

.topic-reply-list {
  .T-common-padding-left-right(0; 30px;);

  a {
    color: @G-color-text-link;
  }

  li {
    list-style: none;
    display: flex;
    border-bottom: 1px solid @G-color-divide-line;
    padding-top: 10px;
  }

  .topic-reply-avatar {
    @size: 35px;
    width: @size;
    height: @size;
    border-radius: @size;
    margin-right: 10px;
  }

  .topic-reply-box {
    width: 100%;
  }

  .topic-reply-detail {
    margin: 10px 0 10px 0;
  }

  @margin-right: 8px;

  .topic-reply-username {
    color: @G-color-standard;
    margin-right: @margin-right;
  }

  .topic-reply-duration {
    color: @G-color-text-gray;
    margin-right: @margin-right;
    font-size: 12px;
  }

  .topic-reply-content {
    padding: 0;

    blockquote {
      margin-left: 0;
      margin-right: 0;
    }

    p {
      margin-bottom: 0;
    }

    p, ul, li {
      overflow: auto;
    }
  }

  .topic-reply-up {
    color: @G-color-text-gray;
    cursor: pointer;
  }

  .topic-reply-upIcon {
    .G-icon-font(18px);
    margin-right: 1px;
  }

  .topic-reply-up-active {
    color: @G-color-text-light;
  }

  .topic-reply-reply {
    .G-icon-font(22px; @G-color-text-gray);
    text-align: right;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .topic-reply-num, .topic-reply-num-active {
    color: @G-color-text-gray;
    background-color: @G-color-text-bg;
    padding: 2px 6px;
    border-radius: @G-btn-border-radius;
    font-size: 12px;
  }

  .topic-reply-num-active {
    background-color: @G-color-text-blue;
    color: #ffffff;
  }
}