
.user-head {
  height: 200px;
  background: url("../assets/bg.jpg") no-repeat left top;
  background-size: 100% auto;
  text-align: center;

  @logout-length: 16px;

  .user-head-logout {
    color: @G-color-text-gray;
    padding: 16px 16px 0 0;
    line-height: @logout-length;

    span {
      cursor: pointer;
    }
  }

  .user-head-logout-icon {
    .G-icon-font(12px; @G-color-text);
    background-color: @G-color-text-gray;
    width: @logout-length;
    height: @logout-length;
    text-align: center;
    margin-right: 4px;
    border-radius: @G-btn-border-radius;
  }

  .user-head-username{
    font-size: 30px;
    color: #ffffff;
    margin-top: 25px;
    margin: 25px 0 10px 0;
  }

  .user-head-signInfo{
    font-size: 12px;
    color:@G-color-text-gray;
  }
}