@T-margin-left-right:20px;

.user-head {
  height: 200px;
  background: url("../assets/bg.jpg") no-repeat left top;
  background-size: 100% auto;
  text-align: center;

  .user-head-logout {
    @padding: 15px;
    color: @G-color-text-gray;
    padding: @padding @padding 0 0;

    span {
      cursor: pointer;
    }
  }

  .user-head-username {
    font-size: 30px;
    color: #ffffff;
    color: lighten(@G-color-standard, 10%);
    margin: 25px 0 8px 0;
  }

  .user-head-signInfo {
    font-size: 12px;
    color: @G-color-text-gray;
  }
}

.user-avatar {
  @size: 80px;
  width: @size;
  height: @size;
  margin: -55px auto 0 auto;
  border-radius: 10px;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 4px #ebebeb;
  background-color: #ffffff;

  img {
    width: @size;
  }
}

.user-detail {
  margin: 20px 0 30px 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    width: 25%;
    text-align: center;
  }

  .user-detail-num {
    font-size: 40px;
    margin-bottom: 4px;
    color: @G-color-standard;

    a {
      color: @G-color-standard;
    }
  }

  .user-detail-name {
    color: @G-color-text-gray;
  }
}

.user-items {
  border-top: 1px solid @G-color-divide-line;

  @line-height: 22px;

  a {
    color: @G-color-text;
    display: block;
    padding: 12px 35px;
    line-height: @line-height;
    border-bottom: 1px solid @G-color-divide-line;
  }

  .user-items-icon {
    .G-icon-font(@line-height; @G-color-text-light);
    margin-right: 12px;
  }

  .user-items-arrow {
    .G-icon-font(12px; #d9d9d9);
  }

  .user-items-unReadMsgNum {
    background-color: @G-color-contrast-red;
    color: #ffffff;
    font-size: 12px;
    border-radius: 4px;
    padding: 0px 6px;
    margin-left: 10px;
  }
}

.user-submenu {
  display: inline-block;
  margin: auto;

  li {
    display: inline-block;
  }

  a {
    color: @G-color-text;
    margin-right: 30px;
  }

  .active {
    color: @G-color-standard;
    //font-size: 18px;
    border-bottom: 4px solid @G-color-standard;
    padding-bottom: 6px;
    font-weight: bold;
  }
}

.user-subtitle {
  font-size: 24px;
  margin: 40px @T-margin-left-right 10px 0;
  text-align: right;

  .active {
    color: @G-color-standard;
    margin: 0 10px;
  }
}

.user-sublist {
  border-top: 4px solid @G-color-divide-line;
  @avatar-size: 25px;

  li{
    height: @avatar-size;
    padding: 10px 0 10px 0px;
    border-bottom: 1px solid @G-color-divide-line;
    line-height: @avatar-size;
  }

  a {
    width: 100%;
    color: @G-color-text;
  }

  .user-sublist-avatar {
    width: @avatar-size;
    border-radius: 50%;
    margin-left: @T-margin-left-right;
  }

  .user-sublist-title {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;
  }

  .user-sublist-date {
    margin-right: @T-margin-left-right;
    color: @G-color-text-gray;
    font-size: 12px;
  }

  .user-sublist-msg{
    text-indent: @T-margin-left-right;

    a{
      color: @G-color-text-link;
    }
  }
}